<!DOCTYPE html>
<html lang="es">
    <head>
        <title>
            {% block title %}
            {% endblock %}
            
        </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    </head>
    <body>
        <header>
            
          
            <div class="container-fluid">
                <div class="row">
                    <div class="col d-flex  align-items-start " style="border: 3px solid black;padding: 0;height: 10em;"  >
                        <div class="container-fluid" style="background-color: red;height:5em;width: 10em;margin: 1em;">
                            
                        </div>
                    </div>
                    <div class="col  d-flex align-items-start" style="border: 3px solid black;">
                        <div class="me-auto">
                            <button class=" btn btn-secondary" type="submit">Search</button>
                            <button class=" btn btn-secondary" type="submit">Search</button>
                            <button class="btn btn-secondary" type="submit">Search</button>
                        </div>
                    </div>
                </div>
                
            </div>
        </header>
        <main>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Navbar</a>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            </ul> 
                        </div>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-secondary" type="submit">Search</button>
                        </form>
                </div>  
            </nav>
        </main>
        <div>
            {% block content %}
            {% endblock %}
        </div>
        <footer>

        </footer>
    </body>
</html>